{% extends 'base.html.twig' %}

{% block title %}Shop Projet | Backoffice {{categorie.libelle}}{% endblock %}

{% block body %}
    <div class="w-screen">
        <div class="flex justify-between px-10 py-5">
            <h2 class="card-title">Détails de la categorie</h2>
            {{ include('categorie/_delete_form.html.twig') }}
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ categorie.id }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                    <td>{{ categorie.libelle }}</td>
                </tr>
                <tr>
                    <th>Visuel</th>
                    <td>{{ categorie.visuel }}</td>
                </tr>
                <tr>
                    <th>Texte</th>
                    <td>{{ categorie.texte }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
